#header {
  height: 80px;
}

#content {
  height: 100%;
  padding: 5px 0px;
}

#content #videos {
  float: right;
  height: inherit;
  background: #000;
  border: 1px solid #333;
  overflow: hidden;
}

#content #videos video { 
  position: absolute;
  top: -1px;
  left: 0px;
}

#content #promos_wrapper {
  height: inherit;
  float: left; 
  background: #111;
  background: rgba(1, 1, 1, 0.7);
  border: 1px solid #333;
}

#content #promos_wrapper #promos {
  padding: 0px 5px 15px 5px;
  text-align: center;

}

#content #promos_wrapper #promos .promo {
  height: 95px;
  width: 200px;
  padding: 18px 0px 0px 0px;
}


#content #promos_wrapper #buttons {
  margin: 0px 10px;
  height: 2em;
  width: 100%;
}

#content #promos_wrapper #buttons .button {
  display: inline;
  color: #fff;
  width: 40%;
  font-size: .6em; 
  -moz-border-radius: 30px;
  border-radius: 30px; 
  background: #444;
  border: 1px solid #333;
  padding: 2px 10px 2px 10px;
  font-weight: bolder;
  margin: 0 8px;
}

#info {
  width: 100%;
  display: block;
}

#info .box {
  background: #111;
  width: 278px;
  float: left;
  display: inline;
  height: 250px;
  border: 1px solid #333;
}

#info .box .feed {
  padding: 5%;
}

.blog_post a {
  color: #fff;
}

.blog_post { 
  padding: 10px 0px;
}

.tweet { 
  padding: 6px 0px;
}

.tweet_text {
  font-size: 1.5em;
  text-align: center;
}

.event { 
  padding: 6px 0px;
}

.event a {
  color: #fff;
}

.author {
  font-size: .7em;
}

.date { 
  font-size: .6em;
  padding-bottom: 3px;
}

#footer {
  position: relative;
  bottom: 0px;
  display: block;
  width: 100%;
  font-size: .8em;
}

.footer_links { 
  display: inline;
  float: left;
}

.copyright {  
  display: inline;
  text-align: right;
  float: right;
}

#page_content { 
  width: 700px;
  border: 1px solid #999;
  display: block;
  min-height: 390px;
  background: #111;
  background: rgba(1, 1, 1, 0.85);
  float:right;
}

#page_content img {
  margin: 0px 15px;
  border: 1px solid #999;
}

#page_content #text {
  line-height: 125%;
  padding: 10px;
}

#page_content #text p {
  line-height: 125%;
}

.indent { 
  padding-left: 25px;
}
