#header {
  height: 90px;
}

#nav { 
  float: right;
  margin: 35px 0px 0px 0px;
  padding: 10px;
  font-size: 1.0em;
  text-align: left; 
}

.hoverclass {
  border: 1px solid #666;
}

#content {
  height: 400px;
  padding: 5px;
  margin: 10px 0px;
  display: block;
}

#content #videos {
  height: inherit;
  float: right; 
  display: inline;
  width: 720px;
  border: 1px solid #999;
}

#content #promos {
  width: 190px;
  border: 1px solid #999;
  height: inherit;
  float: left; 
  display: inline;
}

#info {
  width: 100%;
  display: block;
}

#info .box {
  background: #333;
  width: 280px;
  float: left;
  display: inline;
  min-height: 200px;
}

#info .box .feed {
 width: 100%;
 padding: 5%;
}
#footer {
}
