
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}

.sf-menu a {
	display:		block;
	position:		relative;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 10px 3px;
}

.sf-menu a:hover {
  border: 1px solid #999;
}

.sf-menu ul {
  font-size: .8em; /*fallback*/
  border: 1px solid #999;
	position:	absolute;
  width: 10em;
	top: -999em;
}

.sf-menu ul a {
  border: none;
  background: #000;
}

.sf-menu ul a:hover {
  background: #000;
}

.sf-menu ul li {
	width: 100%;
}

.sf-menu li {
	float:			left;
	position:		relative;
}

.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			39px; /* match top ul list item height */
	z-index:		99;
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

